@page
@model shadowbase.Pages.Bids.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Bid</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Bid.AuctionIDFK" class="control-label"></label>
                <select asp-for="Bid.AuctionIDFK" class ="form-control" asp-items="ViewBag.AuctionIDFK"></select>
            </div>
            <div class="form-group">
                <label asp-for="Bid.UserIDFK" class="control-label"></label>
                <select asp-for="Bid.UserIDFK" class ="form-control" asp-items="ViewBag.UserIDFK"></select>
            </div>
            <div class="form-group">
                <label asp-for="Bid.BidAmount" class="control-label"></label>
                <input asp-for="Bid.BidAmount" class="form-control" />
                <span asp-validation-for="Bid.BidAmount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Bid.BidDate" class="control-label"></label>
                <input asp-for="Bid.BidDate" class="form-control" />
                <span asp-validation-for="Bid.BidDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
