@page
@model shadowbase.Pages.AboutModel

@{
    ViewData["Title"] = "About Shadowbase";
}
<h2>Auction Statistics</h2>

<table>
    <tr>
        <th>
            Listing Date
        </th>
        <th>
            Auctions Created
        </th>
    </tr>

    @foreach (var item in Model.Auction)
    {
        <tr>
            <td>
            @Html.DisplayFor(modelItem => item.CreationDate)
            </td>
            <td>
            @item.AuctionCount
            </td>
        </tr>
    }
</table>