@page
@model shadowbase.Pages.Auctions.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create Auction Listing</h1>


<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Auction.UserIDFK" class="control-label"></label>
                <select asp-for="Auction.UserIDFK" class ="form-control" asp-items="ViewBag.UserIDFK"></select>
            </div>
            <div class="form-group">
                <label asp-for="Auction.ClientIDFK" class="control-label"></label>
                <select asp-for="Auction.ClientIDFK" class ="form-control" asp-items="ViewBag.ClientIDFK"></select>
            </div>
            <div class="form-group">
                <label asp-for="Auction.AuctionStatusIDFK" class="control-label"></label>
                <select asp-for="Auction.AuctionStatusIDFK" class ="form-control" asp-items="ViewBag.AuctionStatusIDFK"></select>
            </div>
            <div class="form-group">
                <label asp-for="Auction.AuctionTypeIDFK" class="control-label"></label>
                <select asp-for="Auction.AuctionTypeIDFK" class ="form-control" asp-items="ViewBag.AuctionTypeIDFK"></select>
            </div>
            <div class="form-group">
                <label asp-for="Auction.CreationDate" class="control-label"></label>
                <input asp-for="Auction.CreationDate" class="form-control" />
                <span asp-validation-for="Auction.CreationDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Auction.ExpiryDate" class="control-label"></label>
                <input asp-for="Auction.ExpiryDate" class="form-control" />
                <span asp-validation-for="Auction.ExpiryDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Auction.HomeBudget" class="control-label"></label>
                <input asp-for="Auction.HomeBudget" class="form-control" />
                <span asp-validation-for="Auction.HomeBudget" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Auction.BidLimit" class="control-label"></label>
                <input asp-for="Auction.BidLimit" class="form-control" />
                <span asp-validation-for="Auction.BidLimit" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
