@page
@model shadowbase.Pages.Auctions.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>AuctionData</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="AuctionData.Id" />
            <div class="form-group">
                <label asp-for="AuctionData.UserID" class="control-label"></label>
                <input asp-for="AuctionData.UserID" class="form-control" />
                <span asp-validation-for="AuctionData.UserID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AuctionData.ClientID" class="control-label"></label>
                <input asp-for="AuctionData.ClientID" class="form-control" />
                <span asp-validation-for="AuctionData.ClientID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AuctionData.StatusID" class="control-label"></label>
                <input asp-for="AuctionData.StatusID" class="form-control" />
                <span asp-validation-for="AuctionData.StatusID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AuctionData.Type" class="control-label"></label>
                <input asp-for="AuctionData.Type" class="form-control" />
                <span asp-validation-for="AuctionData.Type" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AuctionData.CreationDate" class="control-label"></label>
                <input asp-for="AuctionData.CreationDate" class="form-control" />
                <span asp-validation-for="AuctionData.CreationDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AuctionData.ExpiryDate" class="control-label"></label>
                <input asp-for="AuctionData.ExpiryDate" class="form-control" />
                <span asp-validation-for="AuctionData.ExpiryDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AuctionData.HomeBudget" class="control-label"></label>
                <input asp-for="AuctionData.HomeBudget" class="form-control" />
                <span asp-validation-for="AuctionData.HomeBudget" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AuctionData.BidID" class="control-label"></label>
                <input asp-for="AuctionData.BidID" class="form-control" />
                <span asp-validation-for="AuctionData.BidID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AuctionData.BidLimit" class="control-label"></label>
                <input asp-for="AuctionData.BidLimit" class="form-control" />
                <span asp-validation-for="AuctionData.BidLimit" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
